/// Remote data sources of the {{nameWords}} feature: endpoints, contract and
/// implementation.
library;

export '{{name}}_endpoints.dart';
export '{{name}}_remote_datasource_impl.dart';
export '{{name}}_remote_datasource_inter.dart';
