/// Entry point for the development flavor.
library;

import 'package:{{package}}/app/app.dart';
import 'package:{{package}}/bootstrap.dart';

Future<void> main() async {
  await bootstrap(() => const App());
}
